.loadMoreOuter {
	text-align: center;
}
.myBtn {
	background-color: #3f2a56;
	color: #fff;
	padding: 0.5rem 1rem;
	min-width: 8rem;
	outline: none !important;
	margin-bottom: 2rem;
}
.myBtn:active,
.myBtn:focus {
	background-color: #3f2a56 !important;
}
.myBtn:hover {
	background-color: #9468c4;
	color: #fff;
}
