.starsBarchart {
	width: 100%;
	margin-bottom: 2rem;
	line-height: 2rem;
}
.starsBarchart h3 {
	color: #3f2a56;
	margin: 0 0 1.25rem 0;
}
.tooltipIcon {
	width: 1.25rem;
	margin-left: 0.3rem;
}
.barFill {
	display: inline-block;
	background-color: #ffcc33;
	width: 0%;
	/* Slightly smaller than row height */
	height: 1.5rem;
	padding: 0.25rem 0;
	margin-right: 0.5rem;
	vertical-align: middle;
	transition: width 450ms ease-in-out;
}
/* On very small screens, shrink size of label to ensure
bar and label on same line */
@media (max-width: 400px) {
	.starsBarchart a {
		font-size: 0.7rem;
	}
}
