.header {
	padding-top: 0.5rem;
	margin-bottom: 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.header a,
.header img {
	height: 1.5rem;
}
.langButtonDesktop {
	height: 100% !important;
	text-decoration: none;
	margin-right: 1rem;
}
/* Hide contents mobile that are instead displayed in Material UI navbar */
@media (max-width: 767px) {
	.langButtonDesktop,
	.gitHubLink	{
		display: none;
	}
}
